# Dependencies
node_modules/
ecommerce-setup-debug.log

# Builds and bundles
build/
.cache/
.tmp/
admin/
server/

!dist/
!dist/uploads/
!dist/admin/
!dist/server/


# Environment and local config
.env
.env.*  
.eslintcache
.turbo/

# Editors / OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
